@import './components/atoms/button-arrow.css';
@import './components/atoms/badfennec-button-form.css';

@import './components/molecules/search-bar.css';

@import './components/organisms/carousels.css';
@import './components/organisms/accordions.css';
@import './components/organisms/tabs.css';
@import './components/organisms/forms.css';



/* Import woocommerce blocks from here */
@import './components/organisms/wooccommerce-product-variation.css';
@import './woocommerce/woocommerce-reset.css';
@import './woocommerce/woocommerce-loop.css';
@import './woocommerce/woocommerce-single-product.css';