@import "tailwindcss";

body {
	@apply bg-white;
}

#login {
	h1 a {
		background-position: center;
		background-size: 150px;
		display: block;
		width: 100%;
		height: 160px;
	}

	form {
		margin-top: 0;
		box-shadow: 0 3px 3px rgba(0, 0, 0, 0.13);
	}
}