@reference 'tailwindcss';

.badfennec-accordion {
    
    .badfennec-accordion__items {

        .badfennec-accordion__item {
            .badfennec-accordion__box {
                @apply overflow-hidden transition-[height] duration-500;

                .badfennec-accordion__content {
                    @apply transition-opacity duration-0;
                }
            }

            &:not(.badfennec-accordion__item--current){

                .badfennec-accordion__icon {
                    span {
                        @apply rotate-180;
                    }
                }

                .badfennec-accordion__box {
                    height: 0 !important;

                    .badfennec-accordion__content {
                        @apply opacity-0 duration-300;
                    }
                }

            }
        }

    }/* .badfennec-accordion__items */    

}/* .badfennec-accordion */