@reference 'tailwindcss';

form {

	::-webkit-input-placeholder {
		color: inherit !important;
		opacity: .5;
	}
	
	:-ms-input-placeholder {
		color: inherit !important;
		opacity: .5;
	}
	
	::placeholder {
		color: inherit !important;
		opacity: .5;
	}
	
	input[type="text"], input[type="email"], textarea, input[type="tel"], input[type="password"], input[type="search"], input[type='number'], select, .select2-selection__rendered {
		appearance: none;
		-webkit-appearance: none;
		&:-webkit-autofill, &:-internal-autofill-selected {
			-webkit-box-shadow: 0 0 0 30px rgba(#fff, 0) inset!important;
			box-shadow: inset 0 0 0 30px rgba(#fff, 0) !important;
		}
		&:-webkit-autofill,
		&:-webkit-autofill:hover,
		&:-webkit-autofill:focus,
		&:-webkit-autofill:active {
			transition: color 9999s ease, background 9999s ease;
		}
		
		@apply block p-2 text-base border;

		box-shadow: none !important;
		-wbkit-box-shadow: none !important;
	}

	input[type='number']::-webkit-outer-spin-button,
    input[type='number']::-webkit-inner-spin-button,
    input[type='number'] {
        -webkit-appearance: none;
        margin: 0;
        -moz-appearance: textfield !important;
    }

	input[type="submit"], button[type="submit"] {
		@apply not-disabled:cursor-pointer;
	}
}

.wpcf7-form, .badfennec-form {

	.wpcf7-not-valid-tip, .entry__errors, .file__list__icon__tooltip {
		@apply rounded-md text-white absolute p-[10px] bottom-full left-[50%] translate-x-[-50%] translate-y-[10px] w-full text-[12px] pointer-events-none min-w-[250px] max-w-[350px] shadow-md;

		&:after {
			content: "";
			@apply block absolute w-[5px] h-[5px] left-[50%] top-full bg-inherit translate-x-[-50%] translate-y-[-50%] rotate-45;
		}
	}

	.wpcf7-not-valid-tip {
		@apply translate-y-[-5px];
	}

	.wpcf7-not-valid-tip, .entry__errors {
		@apply bg-red-500  shadow-red-500/30;

		ul {
			@apply p-0 list-none;
		}
	}
}

form.wpcf7-form {

	.wpcf7-form-control-wrap {
		@apply block;

		input[type="text"], input[type="email"], input[type="tel"], input[type="url"], textarea, select, input[type="number"] {
			@apply block text-[16px] leading-[16px] w-full;
		}
	}

	.badfennec-cf7__grid {
		@apply grid grid-cols-1 gap-y-[18px];		

		.wpcf7-form-input-grid__submit-row {
			@apply grid gap-y-[10px] xl:flex xl:justify-between;

			& > div {
				&:last-child {
					@apply text-right;
				}
			}
		}
	}/* badfennec-cf7__grid */

	.wpcf7-list-item {
		@apply m-0;
	}

	.wpcf7-response-output {
		@apply p-0 border-none text-[14px]  mx-0;
	}

}/* .wpcf7-form */