@reference 'tailwindcss';

form {

	::-webkit-input-placeholder {
		color: inherit !important;
		opacity: 1;
	}
	
	:-ms-input-placeholder {
		color: inherit !important;
		opacity: 1;
	}
	
	::placeholder {
		color: inherit !important;
		opacity: 1;
	}
	
	input[type="text"], input[type="email"], textarea, input[type="tel"], input[type="password"], input[type="search"], input[type='number'], select, .select2-selection__rendered {
		appearance: none;
		-webkit-appearance: none;
		&:-webkit-autofill, &:-internal-autofill-selected {
			-webkit-box-shadow: 0 0 0 30px rgba(#fff, 0) inset!important;
			box-shadow: inset 0 0 0 30px rgba(#fff, 0) !important;
		}
		&:-webkit-autofill,
		&:-webkit-autofill:hover,
		&:-webkit-autofill:focus,
		&:-webkit-autofill:active {
			transition: color 9999s ease, background 9999s ease;
		}
		
		@apply block p-2 text-base border;

		box-shadow: none !important;
		-wbkit-box-shadow: none !important;
	}

	input[type='number']::-webkit-outer-spin-button,
    input[type='number']::-webkit-inner-spin-button,
    input[type='number'] {
        -webkit-appearance: none;
        margin: 0;
        -moz-appearance: textfield !important;
    }

	.select2-container {	
		display: block !important;		

		.select2-selection {

			&.select2-selection--single {
				height: auto !important;
				border: none !important;	
				margin: 0 !important;

				.select2-selection__rendered {
					padding-top: 13px !important;
					padding-bottom: 12px !important;
				}
		
				.select2-selection__arrow {
					top: 50% !important;
					@apply translate-y-[-50%];
				}
			}
		}
	}

	input[type="submit"], button[type="submit"] {
		@apply not-disabled:cursor-pointer;
	}
}

.badfennec-checkbox-element, .badfennec-radio-element {

	@apply inline-flex gap-[5px] text-[12px] leading-[1] cursor-pointer;

	input[type="checkbox"], input[type="radio"] {
		@apply hidden;
	}

	a {
		@apply underline;
	}

	.wpcf7-list-item-label {
		@apply basis-full;
	}

	.badfennec-checkbox-icon, .badfennec-radio-icon {

		@apply block w-[16px] h-[16px] basis-[16px] min-w-[16px] relative border-solid border border-black rounded-[2px];

		&::before {
			content: "";
			@apply block absolute transition-opacity opacity-0;
		}

		&[aria-checked="true"], &.is-checked {

			&::before {
				@apply opacity-100;
			}
		}
	}

}/* .badfennec-checkbox-element */

.badfennec-checkbox-element {

	.badfennec-checkbox-icon {

		@apply rounded-[2px];

		&::before {
			@apply left-[4px] top-[1px] w-[6px] h-[9px] border-2 border-solid border-black border-t-0 border-l-0 rotate-[40deg];
		}
	}

}/* .badfennec-checkbox-element */

.badfennec-radio-element {

	.badfennec-radio-icon {

		@apply rounded-[50%];

		&::before {
			@apply left-[50%] top-[50%] w-[6px] aspect-square bg-black rounded-[50%] translate-x-[-50%] translate-y-[-50%];
		}
	}

}/* .badfennec-radio-element */

.wpcf7-form, .badfennec-form {

	.wpcf7-not-valid-tip, .entry__errors, .file__list__icon__tooltip {
		@apply rounded-md text-white absolute p-[10px] bottom-[100%] left-[50%] translate-x-[-50%] translate-y-[10px] w-full text-[12px] pointer-events-none min-w-[250px] max-w-[350px] shadow-md;

		&:after {
			content: "";
			@apply block absolute w-[5px] h-[5px] left-[50%] top-full bg-inherit translate-x-[-50%] translate-y-[-50%] rotate-45;
		}
	}

	.wpcf7-not-valid-tip {
		@apply translate-y-[-5px];
	}

	.wpcf7-not-valid-tip, .entry__errors {
		@apply bg-red-500  shadow-red-500/30;

		ul {
			@apply p-0 list-none;
		}
	}
}

form.wpcf7-form {

	.wpcf7-form-control-wrap {
		@apply block;

		input[type="text"], input[type="email"], input[type="tel"], input[type="url"], textarea, select, input[type="number"] {
			@apply block text-[16px] leading-[16px] w-full;
		}
	}

	.badfennec-cf7__grid {
		@apply grid grid-cols-1 gap-y-[18px];		

		.wpcf7-form-input-grid__submit-row {
			@apply grid gap-y-[10px] xl:flex xl:justify-between;

			& > div {
				&:last-child {
					@apply text-right;
				}
			}
		}
	}/* badfennec-cf7__grid */

	.wpcf7-list-item {
		@apply m-0;
	}

	.wpcf7-response-output {
		@apply p-0 border-none text-[14px]  mx-0;
	}

}/* .wpcf7-form */