.woocommerce {

    .woocommerce-MyAccount-navigation, .woocommerce-MyAccount-content {
        float: none !important;
        width: 100% !important;
    }

    .woocommerce-MyAccount-navigation {
        
        ul {
            list-style: none;
            padding-left: 0;
        }

    }

    .woocommerce-Address {

        @apply flex flex-col;

        header.woocommerce-Address-title {
            @apply text-right;

            h3 {
                float: none !important;
                @apply text-left;
            }

            a {
                @apply grow text-[12px];
                float: none !important;
            }

        }

    }

}