.woocommerce {

    #payment {
        div.payment_box {
            @apply bg-black text-white [&:before]:border-b-black;
        }
    }

    form.checkout {

        .vctheme-checkout-form__grid {
            @apply grid grid-cols-1 xl:grid-cols-12 gap-cols;
    
            & > div {
                @apply col-span-1 xl:[&:first-child]:col-span-7 xl:[&:last-child]:col-span-5;
            }
        }

        .woocommerce-checkout-review-order {

            #place_order {
                float: none !important;
            }

        }

    }

}