@theme {
    --spacing-cols: 25px;
}

@utility container {  
    @apply mx-auto px-4;
}

@utility badfennec-font-inerith {
	& > * {
		font-size: inherit;
		line-height: inherit;
		font-weight: inherit;
		letter-spacing: inherit;

		&:last-child {
			margin-bottom: 0;
		}
	}
}

@utility badfennec-img-cover {
    @apply block relative;

	img, video {
		@apply absolute top-0 left-0 object-cover;
		width: 100% !important;
		height: 100% !important;
	}
}

@utility text-underline-* {
    background-image: linear-gradient(var(--value), var(--value));
    background-position: 0 95%;
    background-repeat: no-repeat;
    background-size: 100% 3px;
}